@model IEnumerable<Sales_NET8.Web.Data.Entities.Country>

@{
    ViewData["Title"] = "Países";
}

<h1>Lista de Países</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Novo País</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning me-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info me-2">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
